.box {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  padding: 3rem;

  &-title {
    font-size: 1.75rem;
  }

  &-body {}

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    p {
      margin: 0;
    }

    > li {
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }

      > a {
        display: block;
        font-size: 1.25rem;
        margin-bottom: 0.125rem;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
