html {
  font-size: 1em;
}

body {
  font-size: 1rem;
  background: linear-gradient(to left, #859398, #283048);
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (min-width: 992px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container {
  width: 78rem;
  max-width: 100%;
}

.sidebar {
  @media screen and (min-width: 992px) {
    width: 18.75rem;
    min-width: 18.75rem;
    max-width: 18.75rem;
  }
}

.content {
  max-width: 886px;
  width: 100%;
  @media screen and (min-width: 992px) {
    padding-left: 2rem;
  }
}
