.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 1px;
    border: none;
    padding: 0;
    margin-bottom: 3px;
    text-align: center;
  }

  a {
    padding: 0.375rem 0.75rem;
    min-width: 2rem;
    background-color: rgba(255,255,255,0.09);
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 0.875rem;

    &.active,
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
