.widget-tags {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 1px;
    border: none;
    padding: 0;
    margin-bottom: 3px;
  }

  a {
    padding: 0.25rem 0.5rem;
    background-color: rgba(255,255,255,0.09);
    color: #fff;
    display: block;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  &.dark {
    a {
      background-color: #576270;
      color: #fff;
    }
    a:hover {
      background: #3c4559;
      color: #fff;
    }
  }

  &.sm {
    a {
      padding: 0.1rem 0.5rem;
      font-size: 1rem;
      margin-bottom: 0.1rem;
    }
  }
}
