<div class="box">
  <h4 class="box-title">Posts</h4>
  <div class="box-body">
    <ul class="box-list">
      {%- for post in collections.posts | reverse -%}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <div class="post-meta d-flex">
          <time class="post-meta-time">{{ post.date | formatDate }}</time>
          <ul class="post-meta-categories">
            {%- for tag in post.data.ownTags -%}
            {%- set tagUrl -%}/tags/{{ tag }}/{%- endset -%}
            <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<div class="box">
  <h4 class="box-title">Notes</h4>
  <div class="box-body">
    <ul class="box-list">
      {%- for post in collections.notes | reverse -%}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <div class="post-meta d-flex">
          <time class="post-meta-time">{{ post.date | formatDate }}</time>
          <ul class="post-meta-categories">
            {%- for tag in post.data.ownTags -%}
            {%- set tagUrl -%}/tags/{{ tag }}/{%- endset -%}
            <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
