---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - tagList
  addAllPagesToCollections: true
title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% set postslist = collections[ tag ] %}

<div class="bg-gray-50 border-gray-200 px-12 py-3 border-b-2">
    <nav>
        <ol class="list-reset flex text-gray-600">
            <li><a href="/" class="font-bold">Home</a></li>
            <li><span class="mx-2">/</span></li>
            <li>Blog</li>
        </ol>
    </nav>
</div>
<div class="sm:p-12 p-6 divide-gray-200 divide-y-2">
  {%- for post in postslist | reverse -%}
  <a class="grid md:grid-cols-6 grid-cols-1 items-center py-5" href="{{ post.url | url }}">
    <time class="col-span-1 text-gray-500  md:text-sm md:font-semibold text-xs mb-1 md:mb-0">
        {{ post.date | formatDate }}
    </time>
    <h2 class="col-span-5 font-bold text-base md:text-2xl text-gray-600">{{ post.data.title }}</h2>
  </a>
  {%- endfor -%}
</div>
