---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - notes
    - tagList
  addAllPagesToCollections: true
title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagged “{{ tag }}”</h1>

